body{
    font-family:'Poppins',sans-serif;
    background:#f8fafc;
}

.hero{ 
    padding-top: 120px;
    padding-bottom: 80px;
    min-height: 90vh;
    display: flex;
    align-items: center;
}


.hero h1{
    font-size:55px;
    font-weight:700;
    color:#1e293b;
}

.hero p{
    font-size:20px;
    color:#64748b;
    margin-top:20px;
    margin-bottom:30px;
}

.hero-image{
    width: 100%;
    max-width: 550px;
    height: auto;
}

.btn{
    border-radius:10px;
    padding:12px 30px;
}

.navbar{
    padding:15px;
}

.nav-link{
    font-weight:500;
}

.hero-img {
    max-width: 100%;
    width: 600px;
    height: auto;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0px);
    }
}